* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.card{
    width: 270px;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3{
    font-size: 28px;
    white-space: nowrap;
}

.card h4{
    font-size: 18px;
    margin-top: 10px;
    color: crimson;
}

.card p{
    font-size: 14px;
    margin-top: 5px;
}