* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
     background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 90px;
    background-color: #333;
    padding: 20px 40px;
    border-radius: 15px;
    font-family: monospace;
}
/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    cursor: none;
}
#cursor{
    height: 30px;
    position: fixed;
    transform: translate(-50%,-50%);
} */