* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
.box1{
    height: 100%;
    width: 100%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

h2{
    font-size: 80px;
}

button{
    background-color: crimson;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
}