* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
    background-color: black;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: crimson;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    position: relative;
    z-index: 7;
}
button:active{
    scale:0.95;
}