* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
html,
body {
     height: 100%;
     width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    font-size: 60px;
    background-color: royalblue;
    padding: 30px 50px;
    border-radius: 10px;
}
button{
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    font-weight: 600;
    background-color: crimson;
}
button:hover{
    cursor: pointer;
}
button:active{
    scale: 0.95;
}
