* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 60px;
}
.card p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}
.card p span{
    font-weight: 600;
    color: blue;
}
.outer{
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(197, 197, 197);
}
.inner{
    height: 100%;
    width: 0;
    border-radius: 50px;
    background-color: green;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.bottom h2{
    font-size: 50px;
}

.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}
.bottom button:active{
    scale: 0.95;
}