* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
html,
body {
     height: 100%;
     width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:300px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    position: relative;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card h2{
    font-size: 30px;
    color: black;
    text-align: center;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    opacity: 0;
    background: linear-gradient(to right bottom,rgb(210, 11, 143),rgb(213, 51, 6));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.67,1.01,.77,1.09) 0.3s;
}